body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-home);
}

.Login-card {
  max-width: 460px;
  height: 512px;
  margin: var(--login-card-margin);
  margin-top: 100px;
  background-color: var(--login-card);
  border: 1px solid var(--login-card-border);
  border-radius: 8px;
  box-shadow: 0 24px 48px -24px rgba(0, 0, 0, 0.3);
}

.Login-header {
  max-width: 394px;
  height: 180px;
  margin: var(--login-card-margin);
  margin-top: 30px;
}

.Login-logo-container {
  width: 64px;
  height: 64px;
  margin: var(--login-card-margin);
  padding-top: 25px;
}

.Login-logo {
  border-radius: 3px;
}

.Login-title {
  color: black;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--login-card-font-title);
  text-align: center;
  padding-top: 15px;
}

.Login-input-container {
  max-width: 390px;
  height: 40px;
  margin: var(--login-card-margin);
  margin-bottom: 20px;
  background-color: var(--login-input-container);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.Login-icon-container {
  width: 38px;
  height: 40px;
}

.Login-input {
  width: 346px;
  height: 34px;
  float: right;
  border: none;
  padding-top: 5px;
  background-color: var(--login-input-container); 
}

.Login-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.Login-icon-user {
  width: 22px;
  height: 22px; 
  margin: 10px 10px;
}

.Login-checkbox-container {
  width: 394px;
  height: 40px;
  margin: var(--login-card-margin);
}

.Login-checkbox {
  width: 17px;
  height: 17px;
  float: left;
  margin-left: 0;
}

.Login-checkbox-label {
  font-size: 12px;
  font-family: var(--login-card-font-title);
  padding-left: 3px;
}

.Login-button-container {
  width: 394px;
  height: 40px;
  margin: var(--login-card-margin);
}

.Login-button {
  width: 394px;
  height: 40px;
  background-color: #006bd8;
  border: none;
  margin-top: 10px;
  color: #fff;
  font-family: var(--login-card-font-title);
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}